:host,
:root {
  --nu-color-icon-archive: rgb(251, 190, 84);
  --nu-color-icon-audio: rgb(112, 4, 96);
  --nu-color-icon-code: #171C1F;
  --nu-color-icon-document: rgb(59, 68, 166);
  --nu-color-icon-drawio: rgb(255, 111, 0);
  --nu-color-icon-epub: rgb(244, 187, 68);
  --nu-color-icon-file: #171C1F;
  --nu-color-icon-folder: rgb(77, 126, 175);
  --nu-color-icon-form: rgb(102, 166, 163);
  --nu-color-icon-graphic: rgb(235, 201, 74);
  --nu-color-icon-ifc: rgb(208, 67, 236);
  --nu-color-icon-image: rgb(238, 107, 59);
  --nu-color-icon-jupyter: rgb(243, 119, 38);
  --nu-color-icon-markdown: rgb(75, 100, 137);
  --nu-color-icon-medical: rgb(9, 132, 219);
  --nu-color-icon-pdf: rgb(236, 13, 71);
  --nu-color-icon-presentation: rgb(238, 107, 59);
  --nu-color-icon-root: rgb(0, 187, 219);
  --nu-color-icon-spreadsheet: rgb(21, 194, 134);
  --nu-color-icon-text: #171C1F;
  --nu-color-icon-video: rgb(4, 84, 89);
  --nu-font-family: xwork, Inter, sans-serif;
  --nu-role-background: #FBFCFE;
  --nu-role-chrome: #20434F;
  --nu-role-error: #BA1A1A;
  --nu-role-error-container: #FFDAD6;
  --nu-role-inverse-on-surface: #EFF1F2;
  --nu-role-inverse-primary: #5CD5FB;
  --nu-role-inverse-surface: #2E3132;
  --nu-role-on-background: #191C1D;
  --nu-role-on-chrome: #FFFFFF;
  --nu-role-on-error: #FFFFFF;
  --nu-role-on-error-container: #410002;
  --nu-role-on-primary: #FFFFFF;
  --nu-role-on-primary-container: #001F28;
  --nu-role-on-primary-fixed: #001F28;
  --nu-role-on-secondary: #FFFFFF;
  --nu-role-on-secondary-container: #071E26;
  --nu-role-on-secondary-fixed: #071E26;
  --nu-role-on-surface: #191C1D;
  --nu-role-on-surface-variant: #40484C;
  --nu-role-on-tertiary: #FFFFFF;
  --nu-role-on-tertiary-container: #171937;
  --nu-role-on-tertiary-fixed: #171937;
  --nu-role-outline: #70787C;
  --nu-role-outline-variant: #BFC8CC;
  --nu-role-primary: #00677F;
  --nu-role-primary-container: #B7EAFF;
  --nu-role-primary-fixed: #B7EAFF;
  --nu-role-scrim: #000000;
  --nu-role-secondary: #20434F;
  --nu-role-secondary-container: #CFE6F1;
  --nu-role-secondary-fixed: #CFE6F1;
  --nu-role-shadow: #000000;
  --nu-role-surface: #FBFCFE;
  --nu-role-surface-bright: #F8F9FB;
  --nu-role-surface-container: #ECEEF0;
  --nu-role-surface-container-high: #E7E8EA;
  --nu-role-surface-container-highest: #E1E3E4;
  --nu-role-surface-container-low: #F2F4F5;
  --nu-role-surface-container-lowest: #FFFFFF;
  --nu-role-surface-dim: #D8DADC;
  --nu-role-surface-tint: #715289;
  --nu-role-surface-variant: #DBE4E8;
  --nu-role-tertiary: #5A5C7E;
  --nu-role-tertiary-container: #E0E0FF;
  --nu-role-tertiary-fixed: #E0E0FF;
}
